<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <!-- in action always specify the route like /succes with (app.post) -->
        <form method="post" action="/register"> 
            <h1>Registration FORM</h1>
            <label for="name">NAME</label>
            <input type="name" name="name" class="name" placeholder="Enter you Name">
            <label for="email">EMAIL</label>
            <input type="email" name="email" class="email" placeholder="Enter you Email">
            <label for="Password">EMAIL</label>
            <input type="password" name="password" class="Password" placeholder="Enter you Password">
            <button>Sign up</button>
        </form>
    </main>
</body>
</html>